@{
    Layout = null;
    ViewBag.Title = "Register";
}

@model SwapMVC.Models.Account

<script>
    $(document).ready(function () {
        var email = document.getElementById("email");;
        var pass = document.getElementById("pass");
        var confirm = document.getElementById("confirm");
        var name = document.getElementById("name");
        $("#vEmail").hide();
        $("#vPass").hide();
        $("#vConfirm").hide();
        $("#vName").hide();
        var check;
    });



    $(document).on("click", "#btnRegister", function () {
        check = true;
        if ($("#name").val().length == 0) {
            $("#vName").show();
            check = false;
        } else {
            $("#vName").hide();
        }
        if (email.value.length == 0) {
            $("#vEmail").show();
            check = false;
        } else {
            $("#vEmail").hide();
        }
        if (pass.value.length <= 6) {
            $("#vPass").show();
            check = false;
        } else {
            $("#vPass").hide();
        }
        if ($("#pass").val() != $("#confirm").val()) {
            $("#vConfirm").show();
            check = false;
        } else {
            $("#vConfirm").hide();
        }


        $.post("/User/CheckEmail",
                    {
                        email: $("#email").val()
                    },
                    function (data) {
                        if (data == "true") {
                            $("#invalid2").text("Địa chỉ email đã được sử dụng.");
                        } else {
                            if (check == true) {
                                window.location.replace("Home");
                                $("#btnCreate").click();
                            }
                        }
                    });



    });


</script>



<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-dialog" style="width:430px;margin-top:85px">
        <div class="modal-content">
            <div class="modal-header" style="border:none;">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="myModalLabel" ><span><img src="~/Images/logo.png" /></span> Đăng ký</h3>
            </div>
            <div class="modal-body">
                
                @using (Html.BeginForm("Create", "User", FormMethod.Post, new { id = "registerModal", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    <fieldset style="padding-left:20px; padding-right:20px;">

                        <form id="registerForm">
                            <div class="editor-field" style="margin-bottom: 15px;">
                                <div>

                                    <img id="itemImg" src="" alt="" style="display:inline-block; width: 150px; height: 150px;" />
                                    <input id="browseImg" name="file" type='file' onchange="readURL(this);" style="display:none;" />
                                    <button type="button" class="btn btn-default" onclick="HandleBrowseClick()" style="display:inline-block; margin-left:5px;">Chọn ảnh đại diện</button>

                                    <script>
                                        function HandleBrowseClick() {
                                            var fileinput = document.getElementById("browseImg");
                                            fileinput.click();
                                        }

                                        function readURL(input) {
                                            if (input.files && input.files[0]) {
                                                var reader = new FileReader();

                                                reader.onload = function (e) {
                                                    $('#itemImg').attr('src', e.target.result)
                                                };
                                                reader.readAsDataURL(input.files[0]);
                                            }
                                        }
                                    </script>

                                </div>

                            </div>



                            <div class="editor-field" style="margin-bottom: 15px;">
                                <p id="invalid2" style="color: red;"></p>
                                <p id="vEmail" style="color:red;">*Vui lòng nhập địa chỉ email.</p>
                                <input type="text" id="email" class="form-control" name="Email" placeholder="Email">


                            </div>

                            <div class="editor-field" style="margin-bottom: 15px;">
                                <p id="vPass" style="color:red;">*Vui lòng nhập mật khẩu (trên 6 kí tự).</p>
                                <input type="password" id="pass" class="form-control" name="Passwd" placeholder="Mật khẩu">

                            </div>
                            <div class="editor-field" style="margin-bottom: 15px;">
                                <p id="vConfirm" style="color:red;">*Mật khẩu xác nhận không đúng.</p>
                                <input type="password" id="confirm" class="form-control" placeholder="Xác nhận mật khẩu">
                            </div>

                            <p id="vName" style="color:red;">*Vui lòng nhập họ và tên.</p>
                            <div class="editor-field" style="display: inline-block; width:67%; margin-bottom: 15px; margin-right:15px;">
                                <input type="text" id="name" style="width:94%" class="form-control" name="Fullname" placeholder="Họ và tên">
                            </div>


                            <div class="editor-field" style="display: inline-block; margin-bottom: 15px;">
                                <div class="dropdown" style="display:inline-block; margin-bottom: 1px;">
                                    <input name="Gender" id="Gender" type="hidden" value="" />
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                        <span id="btnLabel">Giới tính</span>
                                        <span class="caret" style="margin-left: 5px;"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" data-value="@true">Nam</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" data-value="@false">Nữ</a></li>
                                    </ul>
                                    <script>
                                        $(".dropdown-menu li a").click(function () {
                                            $(this).parents(".dropdown").find('.btn #btnLabel').text($(this).text());
                                            $(this).parents(".dropdown").find('.btn').val($(this).text());
                                            $(this).parents(".dropdown").find('#Gender').val($(this).data('value'));


                                        });
                                    </script>
                                </div>
                            </div>

                            <div class="editor-field" style="display: inline-block; width:48%; margin-bottom: 15px; margin-right: 12px;">
                                <input type="text" class="form-control" name="Phone" placeholder="Số điện thoại">
                                @Html.ValidationMessageFor(model => model.Phone)
                            </div>

                            <div class="editor-field" style="display: inline-block; width:47%; margin-bottom: 15px;">
                                <input type="text" class="form-control" name="City" placeholder="Thành phố">
                                @Html.ValidationMessageFor(model => model.City)
                            </div>

                            <div class="editor-field" style="margin-bottom: 15px;">
                                <input type="text" class="form-control" name="UsrAddress" placeholder="Địa chỉ">
                                @Html.ValidationMessageFor(model => model.UsrAddress)
                            </div>


                            <div class="editor-field" style="margin-bottom: 15px;">
                                <input type="hidden" class="form-control" name="AccType" value="User">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                                <button type="button" id="btnRegister" value="Create" class="btn btn-primary">Tạo tài khoản</button>
                                <button type="submit" style="display:none" id="btnCreate" value="Create" class="btn btn-primary" ></button>
                            </div>
                        </form>
                    </fieldset>
                }
            </div>
        </div>
    </div>
</div>
