@{
    Layout = null;
    ViewBag.Title = "Register";
}

@model SwapMVC.Models.Account


<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-dialog" style="width:430px;margin-top:85px">
        <div class="modal-content">
            <div class="modal-body">
                <img src="../Images/logo.png" />
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="myModalLabel">Đăng ký</h3>
                @using (Html.BeginForm("Create","User",FormMethod.Post, new{id="registerModal"}))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    <fieldset>

                        
                        <div class="editor-field">
                            <div class="input-group">
                                <span class="input-group-addon">></span>
                                <input type="text" class="form-control" name="Email" placeholder="Email">
                            </div>
                            @Html.ValidationMessageFor(model => model.Email)
                        </div>

                        <div class="editor-field">
                            <div class="input-group">
                                <span class="input-group-addon">></span>
                                <input type="text" class="form-control" name="Passwd" placeholder="Mật khẩu">
                            </div>
                            @Html.ValidationMessageFor(model => model.Passwd)
                        </div>

                        <div class="editor-field">
                            <div class="input-group">
                                <span class="input-group-addon">></span>
                                <input type="text" class="form-control" name="Fullname" placeholder="Họ và tên">
                            </div>
                            @Html.ValidationMessageFor(model => model.Fullname)
                        </div>

                      
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Gender)
                            @Html.ValidationMessageFor(model => model.Gender)
                        </div>

                        <div class="editor-field">
                            <div class="input-group">
                                <span class="input-group-addon">></span>
                                <input type="text" class="form-control" name="Phone" placeholder="Số điện thoại">
                            </div>
                            @Html.ValidationMessageFor(model => model.Phone)
                        </div>

                        <div class="editor-field">
                            <div class="input-group">
                                <span class="input-group-addon">></span>
                                <input type="text" class="form-control" name="City" placeholder="Thành phố">
                            </div>
                            @Html.ValidationMessageFor(model => model.City)
                        </div>

                        <div class="editor-field">
                            <div class="input-group">
                                <span class="input-group-addon">></span>
                                <input type="text" class="form-control" name="UsrAddress" placeholder="Địa chỉ">
                            </div>
                            @Html.ValidationMessageFor(model => model.UsrAddress)
                        </div>

                        <div class="editor-field">
                            @Html.EditorFor(model => model.Avatar)
                            @Html.ValidationMessageFor(model => model.Avatar)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.AccType)
                        </div>
                        <div class="editor-field">
                            <input type="hidden" class="form-control" name="AccType" value="User">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                            <input type="submit" value="Create" class="btn btn-primary">
                        </div>
                    
                    </fieldset>
                }
            </div>
        </div>
    </div>
</div>
