@model SwapMVC.Models.Account

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Account</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Passwd)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Passwd)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Fullname)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fullname)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Gender)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Gender)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Phone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Phone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.City)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.City)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UsrAddress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UsrAddress)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Avatar)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Avatar)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AccType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AccType)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
