@model SwapMVC.Models.Account
@{
    ViewBag.Title = "Tài khoản";
}

@section Leftside {
    <section>
        @{
            string imgUrl = "";
            if (@Model.Avatar != null)
            {
                imgUrl = @Url.Content(@Model.Avatar);
            }
        }
        <div class="info-block" style="width:230px; background-color:white; padding-bottom:100px;">
            <div class="swapper-intro" style="padding-left:15px; padding-right:15px;">
                <div style="display:block; width: 200px; height: 200px; margin-top:10px;">
                    <img src="@imgUrl" alt="Avatar" class="img-thumbnail" style="width:inherit; height:inherit;" />
                </div>
                <div class="swapper-detail" style="margin:7px;">
                    <a href="">@Model.Fullname</a>
                    <ul style="margin:0; padding-left: 10px; list-style:none;">
                        <li>
                            <span class="glyphicon glyphicon-map-marker"></span>
                            @Model.City
                        </li>
                        <li>
                            <span class="glyphicon glyphicon-phone-alt"></span>
                            @Model.Phone
                        </li>
                    </ul>
                </div>
            </div>
            <ul class="accMenuList">
                <li>
                    <h4><a href="~/User/Edit/@Model.ID.ToString()" style="text-decoration:none; color:#646464; font-weight:bold;">Thông tin chung</a></h4>
                </li>
                <li>
                    <h4><a href="~/Book/MyBook/@Model.ID.ToString()" style="text-decoration:none; color:#646464;">Sách của tôi</a></h4>
                </li>
                <li>
                    <h4><a href="" style="text-decoration:none; color:#646464;">Sách đã đổi</a></h4>
                </li>
                <li>
                    <h4><a href="" style="text-decoration:none; color:#646464;">Sách đang quan tâm</a></h4>
                </li>
            </ul>
        </div>
    </section>
}



<div id="profile" class="topic-block" style="padding:10px; padding-left:20px; padding-right:20px; ">
    <h1 style="border-bottom:solid 1px whitesmoke;">
        Thông tin tài khoản
    </h1>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset style="padding-left:10px;">
            @Html.HiddenFor(model => model.ID)
            @Html.HiddenFor(model => model.AccType)
            <div class="editor-label">
                @Html.LabelFor(model => model.Email)
            </div>
            <div class="editor-field">
                @Html.HiddenFor(model => model.Email)
                <input type="text" value="@Model.Email" disabled="disabled" class="form-control" style="width:200px; margin-bottom:10px;" />
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Passwd)
            </div>
            <div class="editor-field">
                <input name="Passwd" id="Passwd" type="password" value="@Model.Passwd" class="form-control" style="width:200px; display:inline-block; margin-bottom:10px;" />
                <span id="invalidPasswd" style="color: red;"></span>
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Fullname, "Họ và tên")
            </div>
            <div class="editor-field">
                <input name="Fullname" id="Fullname" type="text" value="@Model.Fullname" class="form-control" style="width:200px; display:inline-block; margin-bottom:10px;" />
                <span id="invalidFullname" style="color: red;"></span>
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Gender, "Giới tính")
            </div>
            <div class="editor-field">

                <div class="dropdown" style="display:inline-block; margin:0; margin-bottom:10px;">
                    <p id="invalidCategoryID" style="color: red;font-size:14px; margin:0;"></p>
                    <input name="Gender" id="Gender" type="hidden" value="@Model.Gender.ToString()" />
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" style="margin-top:0;">
                        @{
        string gender = "Giới tính";
        if (@Model.Gender != null)
        {
            if (@Model.Gender == true)
            {
                gender = "Nam";
            }
            else
            {
                gender = "Nữ";
            }
        }
                        }
                        <span id="btnLabel">@gender</span>
                        <span class="caret" style="margin-left: 5px;"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" data-value="True">Nam</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" data-value="False">Nữ</a></li>
                    </ul>
                    <script>
                        $(".dropdown-menu li a").click(function () {
                            $(this).parents(".dropdown").find('.btn #btnLabel').text($(this).text());
                            $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
                            $(this).parents(".dropdown").find('#Gender').val($(this).data('value'));
                        });
                    </script>
                </div>

                @Html.ValidationMessageFor(model => model.Gender)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Phone, "Điện thoại")
            </div>
            <div class="editor-field">
                <input name="Phone" type="number" value="@Model.Phone" class="form-control" style="width:200px; margin-bottom:10px;" />
                @Html.ValidationMessageFor(model => model.Phone)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.City, "Thành phố")
            </div>
            <div class="editor-field">
                <input name="City" type="text" value="@Model.City" class="form-control" style="width:200px; margin-bottom:10px;" />
                @Html.ValidationMessageFor(model => model.City)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.UsrAddress, "Địa chỉ")
            </div>
            <div class="editor-field">
                <input name="UsrAddress" type="text" value="@Model.UsrAddress" class="form-control" style="width:200px; margin-bottom:10px;" />
                @Html.ValidationMessageFor(model => model.UsrAddress)
            </div>

            <div class="editor-field">
                @Html.HiddenFor(model => model.Avatar)
                @Html.ValidationMessageFor(model => model.Avatar)
            </div>

            @{
        if (@Session["LogedUserID"] != null && @Session["LogedUserID"].ToString().Equals(@Model.ID.ToString()))
        {
            <p>
                <button type="button" id="btnEdit" class="btn btn-primary">Cập nhật</button>
                <button type="submit" id="btnSubmit" value="Save" style="display:none;"></button>
            </p>
        }
            }


            <script>
                
                $(document).on("click", "#btnEdit", function () {
                    var valid = new Boolean(true);

                    if ($("#Passwd").val().trim().length == 0) {
                        $("#invalidPasswd").text(" Vui lòng nhập mật khẩu.");
                        valid = false;
                    }
                    if ($("#Fullname").val().trim().length == 0) {
                        $("#invalidFullname").text(" Vui lòng nhập họ và tên.");
                        valid = false;
                    }

                    if (valid) {
                        $("#btnSubmit").click();
                    }
                });

            </script>

        </fieldset>
    }
</div>

@{
    if (@Session["LogedUserID"] == null || !@Session["LogedUserID"].ToString().Equals(@Model.ID.ToString()))
    {
        <script>
            $("#profile").find(':input:not(:disabled)').prop('disabled', true);
        </script>
    }
}
