@{
    Layout = null;
    ViewBag.Title = "Đổi sách";
}

@model SwapMVC.Models.Comment





@using (Html.BeginForm("Create", "Comment", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    

    <fieldset style="width:400px; margin-bottom: 5px;">
        <p id="invalid-@ViewData["itemID"].ToString()" style="color: red;"></p>

        <input name="AccID" id="accID" type="hidden" value="@Session["LogedUserID"].ToString()" />
        <input name="SwapItemID" id="swapItemID" type="hidden" value="@ViewData["itemID"].ToString()" />
        <input name="CommentDate" id="cmtDate" type="hidden" value="@DateTime.Now" />

        <textarea name="Content" id="content-@ViewData["itemID"].ToString()" class="form-control" style="min-width:400px; max-width:400px; min-height:130px; max-height:130px; margin-bottom: 5px;" placeholder="Bình luận..."></textarea>
        
        <button type="button" id="btnCreate-@ViewData["itemID"].ToString()" class="btn btn-primary" style="display:block; margin-left:335px;">Đăng</button>
        <input type="submit" id="btnSubmit-@ViewData["itemID"].ToString()" value="create" style="display:none" />
        <script>
            $(document).on("click", "#btnCreate-@ViewData["itemID"].ToString()", function () {
                if ($("#content-@ViewData["itemID"].ToString()").val().trim().length > 0) {
                    if ($("#content-@ViewData["itemID"].ToString()").val().trim().length > 500){
                        $("#invalid-@ViewData["itemID"].ToString()").text("Tối đa 500 kí tự.");
                    }else{
                        $("#invalid-@ViewData["itemID"].ToString()").text("");

                        $("#btnSubmit-@ViewData["itemID"].ToString()").click();
                    }

                } else {
                    $("#invalid-@ViewData["itemID"].ToString()").text("Vui lòng nhập nội dung.");
                }
            });

        </script>

    </fieldset>
}

