<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>
        @ViewBag.Title
    </title>
    <link href="~/Content/Index-Style.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Portal-style.css" rel="stylesheet" />
    <!-- Optional: Include the jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Optional: Incorporate the Bootstrap JavaScript plugins -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.header').hide().fadeIn(500);
            $('.left-side').hide().fadeIn(800);
            $('.main-layout').hide().fadeIn(1200);
            $('.carousel').carousel({
                interval: 2000
            });
        });



    </script>
</head>
<body style=" background-color: whitesmoke">
    <!--Header-->
    <div class="header">
        <div class="container">
            <div style="float:left">
                <ul class="nav-list">
                    <li>
                        <a href="~/Home"><img src="~/Images/logo - whitesmoke.png" alt="" class="img-rounded"></a>
                    </li>
                    <li class="nav-item">
                        <a href="~/Home/Home" title="Trang chủ">Trang chủ</a>
                    </li>
                    @if (@Session["LogedUserID"] != null)
                    {
                        <li class="nav-item">
                            <a href="~/Book/MyBook/@Session["LogedUserID"]">Tủ sách của tôi</a>
                        </li>
                    }
                    @{
                        SwapMVC.Models.SwapDBEntities db = new SwapMVC.Models.SwapDBEntities();
                        if (@Session["LogedUserID"] != null)
                        {
                            var user = db.Account.Find(int.Parse(@Session["LogedUserID"].ToString()));

                            if (user.AccType.Equals("Admin"))
                            {
                                <li class="nav-item">
                                    <a href="~/Book/Approve">Kiểm duyệt sách</a>
                                </li>
                            }
                        }

                        else
                        {
                            <li class="nav-item">
                                <a href="~/Home/Contact">Liên hệ</a>
                            </li>
                        }
                    }


                </ul>
            </div>
            <div>

                <form action="/Book/Search" class="navbar-form navbar-left" style="float:none; margin:0; margin-top:4px; vertical-align:central;">
                    <div class="input-group input-group-sm">
                        <input type="text" placeholder="Tìm kiếm" name="search" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
            <ul class="nav-list">
                @{
                    if (@Session["LogedUserFullname"] == null)
                    {
                        <li style="padding:30px"><a href="" data-toggle="modal" data-target="#loginModal">Đăng nhập</a></li>
                        @Html.Partial("~/Views/User/Login.cshtml", new SwapMVC.Models.Account())
                        <li> / <a href="" data-toggle="modal" data-target="#registerModal">Đăng kí</a></li>
                        @Html.Partial("~/Views/User/Create.cshtml", new SwapMVC.Models.Account())
                    }
                    else
                    {
                        <li>
                            <a href="~/User/Edit/@Session["LogedUserID"]">@Session["LogedUserFullname"].ToString() </a>
                            <a href="~/User/LogOut" style="font-style:italic; font-weight:normal; text-decoration:underline;">(Đăng xuất)</a>
                        </li>

                        <li style="padding:30px"><a href="" data-toggle="modal" data-target="#notifyModal">Thông báo</a></li>
                    @Html.Partial("~/Views/User/Notify.cshtml", new SwapMVC.Models.Account())    

                    }
                }
            </ul>

        </div>
    </div>
    <!--Main layout-->
    <div class="container" style="margin-bottom:30px; min-height: 430px;">
        <div class="left-side">
            @RenderSection("Leftside", false)
        </div>
        <!--body-->
        <div class="main-layout">
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
    </div>

    <!--Footer-->
    <div class="footer">
        <div class="container">
            <a href="~/Home/About">
                <img src="~/Images/Seed%20icon%20home.png" />
            </a>
        </div>
    </div>

</body>
</html>
