<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="~/Content/Index-Style.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <!-- Optional: Include the jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Optional: Incorporate the Bootstrap JavaScript plugins -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.header').hide().fadeIn(500);
            $('.left-side').hide().fadeIn(800);
            $('.main-layout').hide().fadeIn(1200);
            $('.carousel').carousel({
                interval: 2000
            });
        });
    </script>
</head>
<body style=" background-color: whitesmoke">
    <!--Header-->
    <div class="header">
        <div class="container">
            <div style="float:left">
                <ul id="nav-list">
                    <li>
                        <a href="~/Home"><img src="~/Images/logo - whitesmoke.png" alt="" class="img-rounded"></a>
                    </li>
                    <li class="nav-item">
                        <a href="~/Home/Home" title="Trang chủ">Trang chủ</a>
                    </li>
                    @if (@Session["LogedUserID"] != null)
                    { 
                        <li class="nav-item">
                            <a href="~/Book/MyBook/@Session["LogedUserID"]">Tủ sách của tôi</a>
                        </li>
                    }

                    <li class="nav-item">
                        <a href="~/Home/Contact">Liên hệ</a>
                    </li>
                    <li>


                    </li>

                </ul>
            </div>
            <div style="margin-left:50px;">
                <ul id="nav-list">
                    <li>
                        <form class="navbar-form navbar-left" style="float:none; margin:0; margin-top:4px; vertical-align:central;">
                            <div class="input-group input-group-sm">
                                <input type="text" placeholder="Tìm kiếm" class="form-control">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </li>
                    @{
                        if (@Session["LogedUserFullname"] == null)
                        {
                            <li><a href="" data-toggle="modal" data-target="#loginModal">Đăng nhập</a></li>
                            @Html.Partial("~/Views/User/Login.cshtml", new SwapMVC.Models.Account())
                            <li> / <a href="" data-toggle="modal" data-target="#registerModal">Đăng kí</a></li>
                            @Html.Partial("~/Views/User/Create.cshtml", new SwapMVC.Models.Account())
                        }
                        else
                        {
                            <li>
                                <a href="~/Book/MyBook/@Session["LogedUserID"]">@Session["LogedUserFullname"].ToString() </a>
                                <a href="" style="font-style:italic; font-weight:normal; text-decoration:underline;">(Đăng xuất)</a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    <!--Main layout-->
    <div class="container">
        <div class="left-side">
            @RenderSection("Leftside", false)
        </div>
        <!--body-->
        <div class="main-layout">
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
    </div>
</body>
</html>
