@model IEnumerable<SwapMVC.Models.Book>

@{
    ViewBag.Title = "Kiểm duyệt sách";
}
@{
    var listBook = Model.OrderBy(x => x.PostDate).ToList();
}
@section Leftside{
    <section>
        @{
            foreach (var item in listBook)
            {
                var user = item.Account;
                <div class="info-block" style="display:block; margin-top:60px; height:135px; padding-top:3px;">
                    <div class="swapper-intro" style="border-radius:10px 10px 10px 10px;">
                        <h5>Được đăng bởi:</h5>
                        <div style="display:inline-block; width: 75px; height: 75px;">
                            <img src="" alt="Avatar" class="img-thumbnail" style="width:inherit; height:inherit;" />
                        </div>
                        <div class="swapper-detail">
                            <a href="~/Book/MyBook/@user.ID.ToString()">@user.Fullname</a>
                            <ul style="margin:0; padding:0; padding-left: 10px; list-style:none;">
                                <li>
                                    <span class="glyphicon glyphicon-map-marker"></span>
                                    @user.City
                                </li>
                                <li>
                                    <span class="glyphicon glyphicon-phone-alt"></span>
                                    @user.Phone
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            }
        }
    </section>
}

<h1 style="border-bottom:solid 1px #cfcfcf; padding-bottom:10px;">Kiểm duyệt sách</h1>

<div class="intro-block-approve">
    @{
        int count = 1;

    }
    @foreach (var item in listBook)
    {
        int denID = count + Model.ToList().Count + 1;
        ++count;
        <script>
            $(document).on("click", "#@count", function () {
                $.post("/Book/Approve",
                        {
                            bookID: @item.ID,
                            isApprove: "true",
                        },
                        function (data) {
                            window.location.replace("Approve");
                        });

            });
            $(document).on("click", "#@denID", function () {
                $.post("/Book/Approve",
                        {
                            bookID: @item.ID,
                            isApprove: "false",
                        },
                        function (data) {
                            window.location.replace("Approve");
                        });

            });

        </script>

        <div style="margin-top:10px">


            <div class="book-intro-approve">
                <div class="book-img-approve">
                    @{
        string bookImgUrl = "";
        if (item.BookImage != null)
        {
            bookImgUrl = @Url.Content(@item.BookImage);
        }
                    }
                    <img style="width:inherit; height: inherit;" src="@bookImgUrl" alt="Ảnh bìa sách" class="img-rounded"/>
                </div>
                <div class="book-detail-approve">
                    <h3 style="margin-top:0px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">
                        @item.Title
                    </h3>
                    <ul style="display: inline-block; width:300px;">
                        <li>
                            Tác giả: @item.Author
                        </li>
                        <li>
                            Nhà xuất bản: @item.Publisher
                        </li>
                        <li>
                            Năm xuất bản: @item.PblYear
                        </li>
                        <li>
                            Giá bìa: @item.Price
                        </li>
                        <li>
                            Địa điểm: @item.DetailAddr (@item.City)
                        </li>
                    </ul>
                    <div style="display: inline-block; width:300px; vertical-align: top;">
                        <ul>


                            <li>
                                Ngày đăng: @item.PostDate
                            </li>
                            <li>Mô tả: @item.Descrptn</li>

                        </ul>                        
                    </div>
                </div>
                <div style="display: inline-block; width:100px; margin:0; padding:5px; padding-bottom:15px; vertical-align: bottom;">
                    <button id="@count" type="button" class="btn btn-primary" style="display:inline-block;"><span class="glyphicon glyphicon-ok"></span></button>
                    <button id="@denID" type="button" class="btn btn-danger" style="display:inline-block;"><span class="glyphicon glyphicon-remove"></span></button>
                </div>
            </div>
        </div>


    }
</div>