@model IEnumerable<SwapMVC.Models.Book>

@{
    ViewBag.Title = "Aprapprove";
}

<h2>Aprapprove</h2>


@{
    int count = 1;

}
@foreach (var item in Model)
{
    int denID = count + Model.ToList().Count + 1;
    ++count;
    <script>
        $(document).on("click", "#@count", function () {
            $.post("/Book/Approve",
                    {
                        bookID: @item.ID,
                        isApprove: "true",
                    },
                    function (data) {
                        window.location.replace("Approve");
                    });

        });
        $(document).on("click", "#@denID", function () {
            $.post("/Book/Approve",
                    {
                        bookID: @item.ID,
                        isApprove: "false",
                    },
                    function (data) {
                        window.location.replace("Approve");
                    });

        });

    </script>

    <div style="margin-top:10px">

        <div class="intro-block-approve">
            <div class="book-intro-approve">
                <div class="book-img-approve">
                    @{
    string bookImgUrl = "";
    if (item.BookImage != null)
    {
        bookImgUrl = @Url.Content(@item.BookImage);
    }
                    }
                    <img style="width:inherit; height: inherit;" src="@bookImgUrl" alt="Ảnh bìa sách" />
                </div>
                <div class="book-detail-approve">
                    <h3 style="margin-top:0px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">
                        @item.Title
                    </h3>
                    <ul style="display: inline-block; width:300px;">
                        <li>
                            Tác giả: @item.Author
                        </li>
                        <li>
                            Nhà xuất bản: @item.Publisher
                        </li>
                        <li>
                            Năm xuất bản: @item.PblYear
                        </li>
                        <li>
                            Giá bìa: @item.Price
                        </li>
                        <li>
                            Địa điểm: @item.DetailAddr (@item.City)
                        </li>
                    </ul>
                    <div style="display: inline-block; width:300px; vertical-align: top;">
                        <ul>


                            <li>
                                Trạng thái: @item.BookStatus
                            </li>
                            <li>Mô tả: @item.Descrptn</li>

                        </ul>
                        <div style="display: inline-block; width:50px; vertical-align: top;">
                            <button id="@count" type="button" class="btn btn-primary">Approve</button>
                            <button id="@denID" type="button" class="btn btn-danger">Deny</button>
                        </div>
                    </div>





                </div>
            </div>
        </div>
    </div>



}
