@{
    Layout = null;
    ViewBag.Title = "CreateBook";
}

@model SwapMVC.Models.Book


<div class="modal fade" id="Modal-AddNewBook" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 460px;">
        <div class="modal-content">
            @using (Html.BeginForm("Create", "Book", FormMethod.Post, new { id = "Modal-AddNewBook", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <fieldset>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Đóng</span></button>
                        <h4 class="modal-title" id="myModalLabel">Thêm sách mới</h4>
                    </div>
                    <div class="modal-body" style="height:auto; padding-left:30px; width:400px; margin-bottom: 5px;">
                        <input name="AccID" type="hidden" value="@Session["LogedUserID"].ToString()"  />
                        <input name="BookStatus" type="hidden" value="Đang thương lượng" />
                        <input name="PostDate" type="hidden" value="@DateTime.Now" />

                        <!--Title-->
                        <input id="txtTitle" name="Title" type="text" class="form-control" style="margin-bottom: 5px;" placeholder="Tiêu đề" />
                        <input type="text" name="Author" class="form-control" style="display:inline-block; width:230px; margin-bottom:5px; margin-right:5px;" placeholder="Tác giả" />

                        <!--Categories-->
                        <div class="dropdown" style="display:inline-block;">
                            <input name="CategoryID" id="CategoryID" type="hidden" value="" />
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                <span id="btnLabel">Danh mục</span>
                                <span class="caret" style="margin-left: 5px;"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                @{
                                    SwapMVC.Models.SwapDBEntities db = new SwapMVC.Models.SwapDBEntities();
                                    var cate = db.Category.ToList();

                                    foreach (var item in cate)
                                    {
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" data-value="@item.ID.ToString()">@item.Name</a></li>
                                    }
                                }
                            </ul>
                            <script>
                                $(".dropdown-menu li a").click(function () {
                                    $(this).parents(".dropdown").find('.btn #btnLabel').text($(this).text());
                                    $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
                                    $(this).parents(".dropdown").find('#CategoryID').val($(this).data('value'));
                                });
                            </script>
                        </div>

                        <input type="text" name="Publisher" class="form-control" style="display:inline-block; width:230px; margin-bottom:5px; margin-right:5px;" placeholder="Nhà xuất bản" />
                        <input type="number" name="PblYear" class="form-control" style="display:inline-block; width:150px; margin-bottom:10px; margin-right:5px;" placeholder="Năm xuất bản" />
                        <input type="number" name="Price" class="form-control" style="width:230px; margin-bottom:10px; margin-right:5px;" placeholder="Giá bìa" />

                        <!--Description-->
                        <textarea name="Descrptn" class="form-control" style="min-width:400px; max-width:400px; min-height:130px; max-height:130px; margin-bottom: 5px;" placeholder="Mô tả"></textarea>

                        <input name="City" type="text" class="form-control" style="display:inline-block; width:190px; margin-bottom:5px; margin-right:5px;" placeholder="Địa điểm" />
                        <input name="DueDate" type="text" class="form-control" style="display:inline-block; width:190px; margin-bottom:5px; margin-right:5px;" placeholder="Hạn cuối" />

                        <!--Img-->
                        <div>
                            <img id="itemImg" src="" alt="" style="display:block; width: 150px; height: 180px;" />
                            <input id="browseImg" name="file" type='file' onchange="readURL(this);" style="display:none;" />
                            <button type="button" class="btn btn-default" onclick="HandleBrowseClick()">Chọn ảnh</button>
                            <script>
                                function HandleBrowseClick() {
                                    var fileinput = document.getElementById("browseImg");
                                    fileinput.click();
                                }

                                function readURL(input) {
                                    if (input.files && input.files[0]) {
                                        var reader = new FileReader();

                                        reader.onload = function (e) {
                                            $('#itemImg').attr('src', e.target.result)
                                        };
                                        reader.readAsDataURL(input.files[0]);
                                    }
                                }
                            </script>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                        <button type="submit" value="Create" class="btn btn-primary">Đăng</button>
                    </div>
                </fieldset>
            }
        </div>
    </div>
</div>