@{
    Layout = null;
    ViewBag.Title = "CreateBook";
}

@model SwapMVC.Models.Book


<div class="modal fade" id="Modal-AddNewBook" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 460px;">
        <div class="modal-content">
            @using (Html.BeginForm("Create", "Book", FormMethod.Post, new { id = "Modal-AddNewBook", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <fieldset>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Đóng</span></button>
                        <h4 class="modal-title" id="myModalLabel">Thêm sách mới</h4>
                    </div>
                    <div class="modal-body" style="height:auto; padding-left:20px; padding-right:20px; margin-bottom: 5px;">
                        <input name="AccID" type="hidden" value="@Session["LogedUserID"].ToString()" />
                        <input name="BookStatus" type="hidden" value="Chờ duyệt" />
                        <input name="PostDate" id="PostDate" type="hidden" value="@DateTime.Now" />


                        <!--Img-->
                        <div style="margin-bottom:15px;">
                            <img id="itemImg" src="" alt="" style="display:inline-block; width: 150px; height: 180px;" />
                            <input id="browseImg" name="file" type='file' onchange="readURL(this);" style="display:none;" />
                            <button type="button" class="btn btn-default" onclick="HandleBrowseClick()" style="display:inline-block; margin-left:5px;">Tải ảnh lên</button>
                            <script>
                                function HandleBrowseClick() {
                                    var fileinput = document.getElementById("browseImg");
                                    fileinput.click();
                                }

                                function readURL(input) {
                                    if (input.files && input.files[0]) {
                                        var reader = new FileReader();

                                        reader.onload = function (e) {
                                            $('#itemImg').attr('src', e.target.result)
                                        };
                                        reader.readAsDataURL(input.files[0]);
                                    }
                                }
                            </script>
                        </div>
                        <!--Title-->
                        <p id="invalidTitle" style="color: red; font-size:14px; margin:0; margin-top:3px;"></p>
                        <input id="Title" name="Title" type="text" class="form-control" style="width:100%; margin-top:5px; margin-bottom: 5px;" placeholder="Tiêu đề" />
                        <p id="invalidAuthor" style="color: red;font-size:14px; margin:0; margin-top:3px;"></p>
                        <input type="text" id="Author" name="Author" class="form-control" style="display:inline-block; width:48%; margin-top:0; margin-bottom:5px; margin-right:5px;" placeholder="Tác giả" />

                        <!--Categories-->
                        <div class="dropdown" style="display:block; margin:0;">
                            <p id="invalidCategoryID" style="color: red;font-size:14px; margin:0; margin-top:3px;"></p>
                            <input name="CategoryID" id="CategoryID" type="hidden" value="" />
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" style="margin-top:0;">
                                <span id="btnLabel">Danh mục</span>
                                <span class="caret" style="margin-left: 5px;"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                @{
                SwapMVC.Models.SwapDBEntities db = new SwapMVC.Models.SwapDBEntities();
                var cate = db.Category.ToList();

                foreach (var item in cate)
                {
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" data-value="@item.ID.ToString()">@item.Name</a></li>
                }
                                }
                            </ul>
                            <script>
                                $(".dropdown-menu li a").click(function () {
                                    $(this).parents(".dropdown").find('.btn #btnLabel').text($(this).text());
                                    $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
                                    $(this).parents(".dropdown").find('#CategoryID').val($(this).data('value'));
                                });
                            </script>
                        </div>

                        <input type="text" name="Publisher" class="form-control" style="display:inline-block; width:48%; margin-bottom:5px; margin-right:5px;" placeholder="Nhà xuất bản" />
                        <input type="number" name="PblYear" class="form-control" style="display:inline-block; width:48%; margin-bottom:10px;" placeholder="Năm xuất bản" />
                        <input type="number" name="Price" class="form-control" style="display:inline-block; width:48%; margin-bottom:10px; margin-right:5px;" placeholder="Giá bìa" /><span style="font-size:14px"> (VNĐ)</span>

                        <!--Description-->
                        <textarea name="Descrptn" class="form-control" style="min-width:100%; max-width:100%; min-height:130px; max-height:130px; margin-bottom: 5px;" placeholder="Mô tả"></textarea>

                        <input name="City" type="text" class="form-control" style="display:inline-block; width:48%; margin-bottom:15px; margin-right:5px;" placeholder="Địa điểm" />
                        <p style="font-size:14px; font-weight:bold; margin:0; ">Hạn cuối</p>
                        <input name="DueDate" id="DueDate" type="date" class="form-control" style="display:inline-block; width:48%; margin-top:0; margin-bottom:5px;" placeholder="Hạn cuối" />
                        <p id="invalidDueDate" style="color: red;font-size:14px; margin:0; display:inline-block;"></p>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                        <button type="button" id="btnCreate" class="btn btn-primary">Đăng</button>
                        <button type="submit" id="btnSubmit" value="Create" style="display:none;"></button>
                    </div>

                    <script>

                        $(document).on("click", "#btnCreate", function () {
                            var valid = new Boolean(true);
                            
                            if ($("#Title").val().trim().length == 0) {
                                $("#invalidTitle").text("Vui lòng nhập tiêu đề.");
                                valid = false;
                            } else {
                                $("#invalidTitle").text("");
                            }
                            if ($("#Author").val().trim().length == 0) {
                                $("#invalidAuthor").text("Vui lòng nhập tên tác giả.");
                                valid = false;
                            } else {
                                $("#invalidAuthor").text("");
                            }
                            if ($("#CategoryID").val().trim().length == 0) {
                                $("#invalidCategoryID").text("Vui lòng chọn danh mục sách.");
                                valid = false;
                            } else {
                                $("#invalidCategoryID").text("");
                            }
                            @*                            
                            var dueDate = $("#DueDate").val();
                            if (dueDate != null && dueDate.trim().length > 0) {
                                var due = new Date(dueDate);

                                var postDate = new Date($("#PostDate").val());
                                if (true) {
                                    $("#invalidDueDate").text(due.getDate);
                                    valid = false;
                                } else {
                                    $("#invalidDueDate").text("");
                                }
                            } else {
                                $("#invalidDueDate").text("");
                            }
                            *@

                            if (valid) {
                                $("#btnSubmit").click();
                            }
                        });

                    </script>

                </fieldset>
            }
        </div>
    </div>
</div>
