@model SwapMVC.Models.Book

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Book</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Account.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Account.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Author)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Author)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Category.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Category.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Publisher)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Publisher)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PblYear)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PblYear)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Descrptn)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Descrptn)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BookImage)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BookImage)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BookStatus)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BookStatus)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.City)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.City)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DetailAddr)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DetailAddr)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PostDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PostDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DueDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DueDate)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
