@model SwapMVC.Models.Book

@{
    ViewBag.Title = @Model.Title;
}

@{
    var user = Model.Account;
}

@section Leftside{

    <div class="info-block">
        <div class="swapper-intro">
            <h5>Được đăng bởi:</h5>
            <div style="display:inline-block; width: 75px; height: 75px;">
                <img src="@Url.Content(user.Avatar)" alt="Avatar" class="img-thumbnail" style="width:inherit; height:inherit;" />
            </div>
            <div class="swapper-detail">
                <a href="~/Book/MyBook/@user.ID.ToString()">@user.Fullname</a>
                <ul style="margin:0; padding:0; padding-left: 10px; list-style:none;">
                    <li>
                        <span class="glyphicon glyphicon-map-marker"></span>
                        @user.City
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-phone-alt"></span>
                        @user.Phone
                    </li>
                </ul>
            </div>
        </div>
        <button class="btn btn-default" type="button" style="margin-top: 10px; float: right;">Báo cáo vi phạm</button>
    </div>
}

<div class="intro-block">
    <div class="book-intro">
        <div class="book-img">
            @{
                string bookImgUrl = "";
                if (@Model.BookImage != null)
                {
                    bookImgUrl = @Url.Content(@Model.BookImage);
                }
            }
            <img style="width:inherit; height: inherit;" src="@bookImgUrl" alt="Ảnh bìa sách" />
        </div>
        <div class="book-detail">
            <h2 style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">
                @Model.Title
            </h2>
            <ul style="display: inline-block; width:320px;">
                <li>
                    Tác giả: @Model.Author
                </li>
                <li>
                    Danh mục: @Model.Category.Name
                </li>
                <li>
                    Nhà xuất bản: @Model.Publisher
                </li>
                <li>
                    Năm xuất bản: @Model.PblYear
                </li>
                <li>
                    Giá bìa: @Model.Price
                </li>
                <li>
                    Địa điểm: @Model.DetailAddr (@Model.City)
                </li>
                <li>
                    Trạng thái: @Model.BookStatus
                </li>
            </ul>
            <div style="display: inline-block; width:280px; vertical-align: top; overflow-wrap:break-word;">
                <h5>Ngày đăng:</h5> @Model.PostDate
                <h5>Hạn cuối:</h5> @Model.DueDate
                <h4>Mô tả</h4>
                <p style="height:100px;text-overflow: inherit; white-space: initial;overflow: hidden;text-align:justify">@Model.Descrptn</p>
            </div>
            @{
                if (@Session["LogedUserID"] != null)
                {
                    if (int.Parse(@Session["LogedUserID"].ToString()) == @Model.AccID)
                    {
                        @*<button class="btn btn-default" type="button" data-toggle="modal" data-target="" style="margin-left:25px;">Xóa</button>*@
                    }
                    else
                    {
                        <button class="btn btn-default" type="button" data-toggle="modal" data-target="#Modal-SwapRcmd" style="margin-left:25px;">Đề xuất đổi</button>
                    <!-- Modal -->
                        @Html.Partial("~/Views/SwapItem/Create.cshtml", new SwapMVC.Models.SwapItem(), new ViewDataDictionary { { "bookID", Model.ID } })
                    }
                }

            }

        </div>
    </div>
</div>
<div class="swap-area">
    <h3>Đề xuất (@Model.SwapItem.Count)</h3>
    @{
        if (@Model.SwapItem.Count == 0)
        {
            <h5 style="font-style:italic;">Chưa có đề xuất nào.</h5>
        }
    }
    <ul class="rcmd-list">
        @{
            SwapMVC.Models.SwapDBEntities db = new SwapMVC.Models.SwapDBEntities();
            var swapItem = db.SwapItem.Where(x => x.BookID == @Model.ID).OrderByDescending(x => x.PostDate).ToList();
        }
        @foreach (var item in swapItem)
        {
            <li>
                <div class="comment-block">
                    <div class="avatar-block">
                        @{
            string imgUrl = "";
            if (@item.Account.Avatar != null)
            {
                imgUrl = @Url.Content(@item.Account.Avatar);
            }
                        }
                        <img src="@imgUrl" alt="Avatar" class="img-circle" />
                    </div>
                    <div class="comment-content">
                        <a href="~/User/Edit/@item.AccID"><h4>@item.Account.Fullname</h4></a>
                        <p>
                            <strong style="">@item.ItemTitle</strong>
                            <a href="" style="margin-left:20px;" data-toggle="modal" data-target="#Modal-SwapCmt-@item.ID"><span class="glyphicon glyphicon-comment"></span> Bình luận (@item.Comment.Count)</a>
                        </p>
                        <!-- Modal -->
                        <div class="modal fade" id="Modal-SwapCmt-@item.ID" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog" style="width: 460px;">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Đóng</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Bình luận</h4>
                                    </div>
                                    <div class="modal-body" style="height:auto; padding-left:30px;">
                                        @{
            if (@Session["LogedUserID"] != null)
            {
                @Html.Partial("~/Views/Comment/Create.cshtml", new SwapMVC.Models.Comment(), new ViewDataDictionary { { "itemID", @item.ID } })
            }
                                        }
                                        @{
            var commentDB = db.Comment.Where(x => x.SwapItemID == @item.ID).OrderByDescending(x => x.CommentDate).ToList();
            if (@commentDB.Count == 0)
            {
                <h5 style="font-style:italic;">Chưa có bình luận nào.</h5>
            }
                                        }
                                        @foreach (var cmt in commentDB)
                                        {
                                            <div class="comment-block">
                                                <div class="avatar-block">
                                                    <img src="img/pages2.jpg" alt="Avatar" class="img-circle" />
                                                </div>
                                                <div class="comment-content">
                                                    <a href=""><h5>@cmt.Account.Fullname</h5></a>
                                                    <p>@cmt.Content</p>
                                                    <h6 style="font-style:italic;">Ngày đăng: @cmt.CommentDate</h6>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @{
            string itemImgUrl = "";
            if (@item.ItemImage != null)
            {
                itemImgUrl = Url.Content(item.ItemImage);
            }
                        }
                        <img src="@itemImgUrl" alt="Ảnh minh họa" class="img-thumbnail" style="display:inline-block; width:80px; height:100px; vertical-align:top;" />
                        <ul style="display:inline-block; vertical-align:top;">
                            <li>
                                Hình thức: @item.ItemType
                            </li>
                            <li>
                                Mô tả: @item.ItemDcrpt
                            </li>
                            <li>
                                Trạng thái: @item.ItemStatus
                            </li>
                            @if (@item.ItemType.Equals("Mua lại"))
                            {
                                <li>
                                    Giá đề xuất: @item.Price (VNĐ)
                                </li>
                            }
                        </ul>
                        <h6 style="font-style:italic;">Ngày đăng: @item.PostDate</h6>
                    </div>
                    @{
            if (@Session["LogedUserID"] != null && int.Parse(@Session["LogedUserID"].ToString()) == user.ID)
            {
                if (item.ItemStatus.Equals("Đang chờ"))
                {
                    <button id="confirm-@item.ID" class="btn bg-primary" style="float:right; margin-top:10px;">Xác nhận đổi</button>
                    <script>
                        $(document).on("click", "#confirm-@item.ID", function () {
                            document.location = '@Url.Action("Create","Transaction")' + '?itemID=' + @item.ID + '&bookID=' + @item.BookID;
                        });
                    </script>
                }
                else if (item.ItemStatus.Equals("Đã xác nhận đổi"))
                {
                    <h4 style="float:right; margin-top:10px;"><span class="glyphicon glyphicon-ok"></span> Đã xác nhận đổi</h4>
                }

            }
}

                </div>
            </li>
        }

    </ul>
</div>
