@model IEnumerable<SwapMVC.Models.Book>

@{
    SwapMVC.Models.SwapDBEntities db = new SwapMVC.Models.SwapDBEntities();
    int ownerID = ViewBag.ownerBookID;

    var user = db.Account.Where(a => a.ID == ownerID).FirstOrDefault();

    ViewBag.Title = "Sách của " + user.Fullname;
}

@section Leftside {
    <section>
        @{

            string imgUrl = "";
            if (user.Avatar != null)
            {
                imgUrl = @Url.Content(user.Avatar);
            }
        }
        <div class="info-block" style="width:230px; background-color:white; padding-bottom:100px;">
            <div class="swapper-intro" style="padding-left:15px; padding-right:15px;">
                <div style="display:block; width: 200px; height: 200px; margin-top:10px;">
                    <img src="@imgUrl" alt="Avatar" class="img-thumbnail" style="width:inherit; height:inherit;" />
                </div>
                <div class="swapper-detail" style="margin:7px;">
                    <a href="">@user.Fullname</a>
                    <ul style="margin:0; padding-left: 10px; list-style:none;">
                        <li>
                            <span class="glyphicon glyphicon-map-marker"></span>
                            @user.City
                        </li>
                        <li>
                            <span class="glyphicon glyphicon-phone-alt"></span>
                            @user.Phone
                        </li>
                    </ul>
                </div>
            </div>
            <ul class="accMenuList">
                <li>
                    <h4><a href="~/User/Edit/@user.ID.ToString()" style="text-decoration:none; color:#646464;">Thông tin chung</a></h4>
                </li>
                <li>
                    <h4><a href="~/Book/MyBook/@user.ID.ToString()" style="text-decoration:none; color:#646464; font-weight:bold;">Sách của tôi</a></h4>
                </li>
                <li>
                    <h4><a href="" style="text-decoration:none; color:#646464;">Sách đã đổi</a></h4>
                </li>
                <li>
                    <h4><a href="" style="text-decoration:none; color:#646464;">Sách đang quan tâm</a></h4>
                </li>
            </ul>
        </div>
    </section>
}
<div class="topic-block" style="padding:10px; padding-left:20px; padding-right:20px; ">
    <h1 style="border-bottom:solid 1px whitesmoke;">
        Sách của @user.Fullname
        @{
            if (@Session["LogedUserID"] != null && @Session["LogedUserID"].ToString().Equals(@user.ID.ToString()))
            {
                <span>
                    <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#Modal-AddNewBook" style="display:inline; float:right;">Thêm mới</button>
                    <!-- Modal -->
                    @Html.Partial("~/Views/Book/Create.cshtml", new SwapMVC.Models.Book())
                </span>
            }
        }

    </h1>
    <!--grid-->
    @{
        var bookList = Model.ToList().OrderByDescending(x => x.PostDate);

        if (@Session["LogedUserID"] != null && @Session["LogedUserID"].ToString().Equals(@user.ID.ToString()))
        {
            if (user.Book.Where(b => !b.BookStatus.Equals("Denied")).ToList().Count() == 0)
            {
                <h4 style="font-style:italic; font-weight:lighter; margin:10px;">(Chưa có sách)</h4>
            }
            else
            {
                int count = user.Book.Where(b => b.BookStatus.Equals("Chờ duyệt")).Count();
                if (count > 0)
                {
                    <h4 style="font-style:italic; font-weight:lighter; margin:10px;">(@count quyển sách đang chờ duyệt)</h4>
                }
            }
        }
        else
        {
            if (bookList.Count() == 0)
            {
                <h4 style="font-style:italic; font-weight:lighter; margin:10px;">(Chưa có sách)</h4>
            }
        }

    }
    <ul class="book-list">

        @foreach (var item in bookList)
        {
            <li>
                <a href="~/Book/Details/@item.ID">
                    @{
            string bookImgUrl = "";
            if (@item.BookImage != null)
            {
                bookImgUrl = @Url.Content(@item.BookImage);
            }
                    }
                    <img src="@bookImgUrl" class="img-thumbnail" />
                    @{
            if (item.BookStatus.Equals("Đã xác nhận đổi"))
            {
                <h5 style="color:black;">@item.Title</h5>
                        <h6 style="color:black;">@item.Author</h6>
            }
            else
            {
                <h5>@item.Title</h5>
                        <h6>@item.Author</h6>
            }
                    }

                </a>
            </li>
        }
    </ul>
</div>