@model IEnumerable<SwapMVC.Models.Book>

@{
    ViewBag.Title = "Tủ sách của tôi";
}

@section Leftside {
    <section>
        <!--category-->
        @{
            SwapMVC.Models.SwapDBEntities dbCategory = new SwapMVC.Models.SwapDBEntities();
            var category = dbCategory.Category.ToList();
        }
        @Html.Partial("_Category", category)


    </section>
}
<div class="topic-block" style="padding:10px; padding-left:20px; padding-right:20px;" >
    <h1 style=" border-bottom:solid 1px whitesmoke;">
    @{

        var e = Model.GetType();
        SwapMVC.Models.SwapDBEntities dbCategory2 = new SwapMVC.Models.SwapDBEntities();
        var cateName = dbCategory2.Category.Find(ViewData["cateID"]);
    }
    @cateName.Name


    </h1>
    <!--grid-->
    <ul class="book-list">
        @foreach (var item in Model)
        {
            <li>
                <a href="~/Book/Details/@item.ID">
                    @{
            var cateImg = "";
            if (@item.BookImage != null)
            {
                cateImg = Url.Content(item.BookImage);
            }
                    }
                    <img src="@cateImg" class="img-thumbnail" />
                    <h5>@item.Title</h5>
                    <h6>@item.Author</h6>
                </a>
            </li>
        }
    </ul>
</div>